.header
    background-color: #234
    display: flex
    margin-top: 60px
    height: 600px
    position: relative
    .header__left
        width: 50%
        background-color: #125
        color: #fff
        position: relative
        div
            position: absolute
            top: 50%
            left: 50%
            text-align: center
            transform: translate(-50%,-50%)
            h2
                padding: 20px
            
        
    .header__right
        width: 50%
        background-color: #545
        background-image: url("../img/driver.jpg")
        background-position: center
        background-size: cover

    span
        position: absolute
        left: 50%
        top: 50%
        padding: 100px
        border-radius: 50%
        background-color: #fff
        transform: translate(-50%, -50%)
.cars
    background-color: #123
    height: 800px
    position: relative
    display: flex
    flex-direction: column
    h2
        padding-top: 100px
        text-align: center
        color: #fff
    span
        margin: 50px 50% 
        transform: translateX(-50%)
        box-sizing: content-box
        width: 150px
        height: 150px
        padding: 50px
        background-color: #fff
        border-radius: 50%
        border: 2px solid red
        box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.75)
        img
            margin: 50% 
            transform: translate(-50%, -50%)
    .cars__choose
        display: flex
        justify-content: space-around
        width: 80%
        margin: 0 auto
        div
            width: 150px
            height: 150px
            background-color: #fff
            border-radius: 50%
            cursor: pointer
            position: relative
            img
                position: absolute
                top: 50%
                left: 50%
                width: 80%
                transform: translate(-50%,-50%)
        .cars__choose--two
            margin-top: 50px
            

