.header_car
    margin-top: 60px
    height: 40vh
    // background-color: #123
    background-image: url("../../road1.jpg")
    background-position: center
    background-size: cover
    color: #fff
    text-align: center
    padding: 90px 30%
    button
        padding: 15px 40px
        border-radius: 30px
        border: 0
        background-color: #f44336
        color: #ffffff
        // font-weight: bold
        box-shadow: 4px 6px 21px -10px rgba(0,0,0,0.75)
        border-radius: 8px
    h1
        font-size: 25px
        font-weight: 300
    h2
        font-size: 20px
        font-weight: 300
        padding: 20px
    
.description
    
    .description__car
        width: 80%
        display: flex
        flex-direction: column
        min-height: 50vh
        background-color: #f5f5f5
        position: relative
        border: 1px solid #dcdcdc
        border-radius: 10px
        background-color: #fff
        margin: 50px 10% 0px 10%
        padding: 20px
        transition: 0.2s
        transition-timing-function: ease-in-out
        .description__car--main
            position: relative
            padding: 20px
            
            img
                position: absolute
                width: 35%
                top: 50%
                left: 10%
                padding: 50px
                transform: translateY(-50%)
                // height: 40%
                // margin: 10% auto 
            .description__car--details
                min-width: 45%
                margin-left: 50%
                h2
                    margin-top: 40px
                    // font-size: 30px
                h4
                    margin-top: 20px
                i
                    font-size: 20px
                    margin-left: 7px
                    padding: 10px
                    // font-weight: 100
                .description__car--details--price
                    margin: 40px 150px
                    display: block
                    font-size: 35px
                    font-weight: bold
                    color: #014282
                    &:before
                        content: "od "
                        font-size: 15px
                        // font-weight: 400
                        color: #000
                    &:after
                        content: " /doba"
                        font-size: 13px
                        // font-weight: 400
                        color: #000
                button
                    box-shadow: 4px 6px 21px -10px rgba(0,0,0,0.75)
                    padding: 20px 40px
                    border: 0
                    background-color: #f44336
                    // background: transparent
                    border-radius: 8px
                    color: #fff
                    // position: absolute
                    float: right
                    bottom: 60px
                    margin-right: 60px
                    text-transform: uppercase
                    i
                        padding: 0

        .description__car--more
            margin: 0 5%
            min-height: 300px
            // background-color: #213
            display: none
            transition: 1s
        .show__more
            display: block
            .description__car--more--galery
                padding: 50px
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                img 
                    width: 30%
                    height: 30%
                    padding: 1%
                    border-radius: 15px

